In [1]:
import pandas as pd
import numpy as np
from util.config import versioned
from datetime import datetime, timedelta, date
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from IPython.display import display
from collections import Counter
from analysis.people import find_all_matches, con
import numpy as np

In [2]:
# people_pkw = pd.DataFrame(versioned.read_jsonl("people_pkw.jsonl"))
# display(people_pkw)

In [3]:
SCORE_CUTOFF = 10.5
df_all = find_all_matches(con)
df = df_all[df_all["overall_score"] > SCORE_CUTOFF]

Reading memoized /Users/szymonpajzert/Programming/koryta/data/scrapers/versioned/matched.parquet

In [11]:
last_name = "Wielichowski"
first_name = ""

# display(people_pkw[people_pkw["pkw_name"].str.match(f".*(:?{last_name}|{last_name.upper()}).*") & people_pkw["pkw_name"].str.match(f".*{first_name}.*")])
display(df[df["pkw_name"].str.match(f".*(:?{last_name}|{last_name.upper()}).*") & df["pkw_name"].str.match(f".*{first_name}.*")])
display(df[df["krs_name"].str.match(f".*(:?{last_name}|{last_name.upper()}).*") & df["krs_name"].str.match(f".*{first_name}.*")])

Empty DataFrame
Columns: [mistake_odds, unique_chance, overall_score, koryta_name, krs_name, pkw_name, wiki_name, birth_year, birth_date, employment, is_polityk, base_first_name, base_last_name, birth_date_1, metaphone, max_score, overall_score_1, metaphone_1, krs_name_1, pkw_name_1, birth_year_1, base_first_name_1, base_last_name_1, base_full_name, birth_date_2, employment_1, kp_same_birth_year, elections, unique_chance_1, first_name, last_name, second_name, metaphone_1_1, birth_year_2, employment_3, rejestrio_id, full_name, birth_date_4, first_name_5, last_name_6, second_name_7, metaphone_8, birth_year_9, elections_10, full_name_11, teryt_wojewodztwo, teryt_powiat, first_name_12, count, p, first_name_13, count_14, p_15, last_name_16, count_17, teryt, wiki_name_1, is_polityk_1, wiki_score, koryta_name_1]
Index: []

Empty DataFrame
Columns: [mistake_odds, unique_chance, overall_score, koryta_name, krs_name, pkw_name, wiki_name, birth_year, birth_date, employment, is_polityk, base_first_name, base_last_name, birth_date_1, metaphone, max_score, overall_score_1, metaphone_1, krs_name_1, pkw_name_1, birth_year_1, base_first_name_1, base_last_name_1, base_full_name, birth_date_2, employment_1, kp_same_birth_year, elections, unique_chance_1, first_name, last_name, second_name, metaphone_1_1, birth_year_2, employment_3, rejestrio_id, full_name, birth_date_4, first_name_5, last_name_6, second_name_7, metaphone_8, birth_year_9, elections_10, full_name_11, teryt_wojewodztwo, teryt_powiat, first_name_12, count, p, first_name_13, count_14, p_15, last_name_16, count_17, teryt, wiki_name_1, is_polityk_1, wiki_score, koryta_name_1]
Index: []

In [5]:
def list_values(cols):
    for col in cols:
        for val in df_all[col].unique():
            yield col, val


def test_not_duplicated():
    for column, value in list_values(["krs_name", "pkw_name", "wiki_name"]):
        # Make sure that peeple are not duplicated in the output
        # I.e each value occurs only once in the krs_name, pkw_name or wiki_name in df
        if len(df_all[df_all[column] == value]) > 1:
            print(column, value)

In [10]:
def find_column_match(column, name):
    name = name.replace(" ", " .*")
    return df[df[column].str.match(name, na=False)]

name = "Adam Borysiewicz"
birth = "1977-12-08"
first_work = "2015-03-04"
rows = find_column_match("krs_name", name)
display(rows)

list(list_values(["krs_name"]))[:5]

,mistake_odds,unique_chance,overall_score,koryta_name,krs_name,pkw_name,wiki_name,birth_year,birth_date,employment,is_polityk,base_first_name,base_last_name,birth_date_1,metaphone,max_score,overall_score_1,metaphone_1,krs_name_1,pkw_name_1,birth_year_1,base_first_name_1,base_last_name_1,base_full_name,birth_date_2,employment_1,kp_same_birth_year,elections,unique_chance_1,first_name,last_name,second_name,metaphone_1_1,birth_year_2,employment_3,rejestrio_id,full_name,birth_date_4,first_name_5,last_name_6,second_name_7,metaphone_8,birth_year_9,elections_10,full_name_11,teryt_wojewodztwo,teryt_powiat,first_name_12,count,p,first_name_13,count_14,p_15,last_name_16,count_17,teryt,wiki_name_1,is_polityk_1,wiki_score,koryta_name_1
2974,8.440615e+06,1.000000,14.0,None,Adam Borysiewicz,Borysiewicz Adam,None,1977,1977-12-08,"[{'employed_end': 2025-10-27, 'employed_for': ...",None,adam,borysiewicz,1977-12-08,"[PRSTS, PRSFX]",14.0,14.0,"[PRSTS, PRSFX]",Adam Borysiewicz,Borysiewicz Adam,1977,adam,borysiewicz,[Adam Borysiewicz],1977-12-08,"[{'employed_end': 2025-10-27, 'employed_for': ...",True,"[{'election_year': '2024', 'party': 'KKW TRZEC...",1.000000,adam,borysiewicz,,"[PRSTS, PRSFX]",1977,"[{'employed_end': 2025-10-27, 'employed_for': ...",[2371828],[Adam Borysiewicz],1977-12-08,adam,borysiewicz,,"[PRSTS, PRSFX]",1977,"[{'election_year': '2024', 'party': 'KKW TRZEC...","[Borysiewicz Adam, BORYSIEWICZ Adam]",[02],[0203],adam,4,9.113444e-08,None,<NA>,NaN,borysiewicz,52.0,02,None,None,NaN,None
8682,8.423300e+01,0.988128,14.0,None,Adam Borysiewicz,Borysiewicz Adam,None,1977,1977-12-08,"[{'employed_end': 2025-10-27, 'employed_for': ...",None,adam,borysiewicz,1977-12-08,"[PRSTS, PRSFX]",14.0,14.0,"[PRSTS, PRSFX]",Adam Borysiewicz,Borysiewicz Adam,1977,adam,borysiewicz,[Adam Borysiewicz],1977-12-08,"[{'employed_end': 2025-10-27, 'employed_for': ...",True,"[{'election_year': '2024', 'party': 'KKW TRZEC...",0.988128,adam,borysiewicz,,"[PRSTS, PRSFX]",1977,"[{'employed_end': 2025-10-27, 'employed_for': ...",[2371828],[Adam Borysiewicz],1977-12-08,adam,borysiewicz,,"[PRSTS, PRSFX]",1977,"[{'election_year': '2024', 'party': 'KKW TRZEC...","[Borysiewicz Adam, BORYSIEWICZ Adam]",[02],[0203],adam,401374,9.144749e-03,None,<NA>,NaN,borysiewicz,52.0,02,None,None,NaN,None

[('krs_name', 'Krzysztof Stanisław Planeta'),
 ('krs_name', 'Krzysztof Stanisław Tronczyński'),
 ('krs_name', 'Stanisław Edward Jędrusina'),
 ('krs_name', 'Krzysztof Edward Derbiszewski'),
 ('krs_name', 'Damian Tomasz Fierla')]